<img src="/images/doge.png" width="360px" height="360px">

<ul> Apartments: 
<% @apartments.each do |apartment| %>
    <a href="/apartments/<%= apartment.id%>">
        <li> <%= apartment.address %> </li>
    </a>
<% end %>
</ul>

<form method="get" action="/apartments/new">
    <button type="submit">New Apartment</button>
</form>


<form method="get" action="/tenants">
    <button type="submit">All Tenants</button>
</form>
