<form action="/tenants/<%=@tenant.id%>" method="post">
<input type="hidden" name="_method" value="patch"/>

<label>Name:</label>
<input type="text" name="name" value="<%= @tenant.name%>"/>

<select name="apartment_id">
    <option disabled selected> -- Select An Apartment -- </option>
    <% @apartments.each do |apartment| %>
        <option value=<%= apartment.id %> > 
            <%= apartment.address %> 
        </option>
    <% end %>

</select>

<label>Create An Apartment:</label>
<input type="text" name="apartment[address]"/>
<input type="submit"/>

</form>