<h3> Tenant's Information </h3>

<label>Name:</label>
<h4> <%= @tenant.name %> </h4>

<label>Apartment:</label>

<a href="/apartments/<%= @tenant.apartment.id %>">
    <h4> <%= @tenant.apartment.address %> </h4>
</a>


<form method="get" action="/tenants/<%= @tenant.id %>/edit">
    <button type="submit">Edit Tenant</button>
</form>

<form method="get" action="/tenants">
    <button type="submit">All Tenants</button>
</form>

<form method="get" action="/apartments">
    <button type="submit">All Apartments</button>
</form>